<%= form_for(@hehe) do |f| %>
  <% if @hehe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hehe.errors.count, "error") %> prohibited this hehe from being saved:</h2>

      <ul>
      <% @hehe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nana %><br>
    <%= f.text_field :nana %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
