<p id="notice"><%= notice %></p>

<h1>Listing Hehes</h1>

<table>
  <thead>
    <tr>
      <th>Nana</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hehes.each do |hehe| %>
      <tr>
        <td><%= hehe.nana %></td>
        <td><%= link_to 'Show', hehe %></td>
        <td><%= link_to 'Edit', edit_hehe_path(hehe) %></td>
        <td><%= link_to 'Destroy', hehe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hehe', new_hehe_path %>
